
@font-face {
  font-family: 'dosisregular';
  src: url('../../shared_assets/type/dosis-regular-webfont.eot');
  src: url('../../shared_assets/type/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../shared_assets/type/dosis-regular-webfont.woff') format('woff'),
  url('../../shared_assets/type/dosis-regular-webfont.ttf') format('truetype'),
  url('../../shared_assets/type/dosis-regular-webfont.svg#dosisregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dosissemibold';
  src: url('../../shared_assets/type/dosis-semibold-webfont.eot');
  src: url('../../shared_assets/type/dosis-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../shared_assets/type/dosis-semibold-webfont.woff') format('woff'),
  url('../../shared_assets/type/dosis-semibold-webfont.ttf') format('truetype'),
  url('../../shared_assets/type/dosis-semibold-webfont.svg#dosissemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
BODY, HTML {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #636363;
}

A, A:hover, A:visited, A:active {
  color: #ffbe00;
  text-decoration: underline;
}

UL {
  margin: 0;
  padding: 0 0 0 1.5em;
}

#project_nav {
  width: 100%;
  background-color: #ffbe00;
  position: fixed;
  height: 61px;
  min-width: 300px;
  z-index: 3;
  color: #ffffff;
}

#project_nav H1 {
  position: absolute;
  width: inherit;
  text-align: center;
  /*left: 150px; */
  top: 15px;
  font-weight: 200;
  font-size: 35px;
  line-height: 35px;
  padding: 0;
  margin: 0;
}

.section {
  position: relative;
  margin: 0 auto;
  padding: 0 0 30px 0;
  /* border-bottom: 1px solid #eaeaea; */
  clear: both;
  width: 640px;
}
.section.intro {
  margin: auto;
  width: 50%;
  padding-top: 100px;
}

.section.projects {
  padding-bottom: 47px;
}
.section.centered {
}
.section p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 200;
  margin: 1em 0;
}
.section p.last {
  margin-bottom: 0;
}
.section li {
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 .5em 0;
  font-weight: 200;
}
.section ul {
  font-size: 16px;
  margin: 1em 0 .5em 0;
}
.section .anchor {
  position: absolute;
  top: -60px;
}
.section.last {
  border-bottom: 0px;
  padding-bottom: 100px;
}

.section.introduction {
  border-bottom: 0px;
  padding-bottom: 0;
  text-align: center;
}

h2 {
  font-weight: 200;
  font-size: 28px;
  line-height: 33px;
  margin: 24px 0 0 0;
}

#your-code {
  color: red;
}

img.feature {
  margin: auto;
  display: block;
  width: 50%;

}

.description .details {
    width: 420px;
    padding-right: 24px;
    float: left;
}
.description .meta {
    width: 196px;
    float: left;
}
.description h3, .description .difficulty {
    font-size: 28px;
    line-height: 33px;
    font-weight: 300;
    margin: 24px 0 0 0;
}
.description .difficulty {
    color: #ffbe00;
}
.description p {
    font-size: 15px;
    line-height: 22px;
    margin: 7px 0;
}
.description .whofor {
    font-style: italic;
}
.description .whofor strong {
    display: block;
    font-style: normal;
}
.description .meta {
  color: #ffbe00;
}

.description .meta .name {
    display: block;
    color: #666666;
}

.step h2 {
  color: #ffbe00;
}

.step .codeview p {
  padding: 8px;
  background-color: #f0f0f0;
  margin: 34px 0;
}
.step .codeview .data p {
  position: relative;
  /*height: 300px;*/
  font-size: 16px;
}
.step .codeview .data .ace_cursor {
  display: none;
}

.step .task p {
  color: red;
  line-height: 1.25;
  font-size: 30px;
  margin-bottom: 60px;
}
